<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="RawDataPath" value="C:\Users\v-yihguo\Source\Repos\ReportGenerator\ReportGenerator\bin\Debug\Pass Rate by Area.csv"/>
    <add key="TargetDataPath" value="C:\Users\v-yihguo\Source\Repos\ReportGenerator\ReportGenerator\bin\Debug\Project Desktop Automation Status.xlsx"/>
    <add key="C0InRawData" value="0"/>
    <add key="C2InRawData" value="6"/>
    <add key="C0FilterValue" value="OfficeVSO"/>
    <add key="C2FilterValue" value="WinProj"/>
  </appSettings>
</configuration>